{% extends "base.html" %}
{% block content %}
        <div class="album py-5 box">
          <div class="container">
            <h1 class="text-center text-dark">ДИСК-ГОЛЬФ в РОССИИ</h1>
            <br>
            <div class="row">
              <div class="col-md-6">
                <img src="/static/about1.jpeg" class="rounded mx-auto d-block" width=100% height=100% alt="альтернативный текст"></a>
              </div>
              <div class="col-md-6">
                <p>		Диск-гольф - семейный спорт нового поколения!
                  Зародившись в США около полувека назад среди молодежи, как
                  доступная  альтернатива гольфу классическому, очень быстро стал
                  популярен среди всех слоев населения. В 21 веке получил взрывное
                  развитие в Финляндии, Эстонии. Так же диск-
                  гольф находится среди популярных видов
                  спорта в Японии, Швеции, Норвегии и по
                  всей Европе.
                  
                  В Финляндии он получил государственную
                  поддержку, как спорт направленный на
                  оздоровление всей нации. В тоже время
                  молодежь Эстонии, и их семьи, так же
                  подхватили рост популярности этого спорта
                  и начали строить парки по всей стране,
                  попутно создавая  инфраструктуру.
                  
                  В настоящий момент диск-гольф парк можно
                  найти неподалеку от любого крупного города
                  в Прибалтике и, практически, в каждом городе
                  скандинавских стран.
                </p>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6">
                Диск-гольф - отличный способ
                совместить занятия спортом и
                общение с близкими людьми, будь
                то семья, друзья или коллеги. Это
                спорт в котором дети могут играть
                наравне со взрослыми, люди в
                возрасте  с молодежью.

                Цель и ход игры в Диск-гольф схожи
                с другими видами гольф-спорта. Игрок,
                начиная со стартовой зоны(Ти, tee), совершает
                броски, делая каждый следующий с того места,
                где приземлился диск после его предыдущего
                броска. Отрезок завершается после попадания
                в корзину. Побеждает тот игрок в группе,
                который совершил наименьшее количество
                бросков за все отрезки в парке.
                    Как правило парки имеют 9 и более отрезков.
                Семьи выбирают более пологие парки с
                небольшим количеством деревьев, молодежь
                и спортсмены играют в парках с большим
                количеством деревьев, водными преградами
                и перепадами высот.
                
                Как и в гольфе, спортсмены используют разные
                диски для разных по дальности и направлению
                бросков. Но для первой игры достаточно
                1..2 диска!</p>
              </div>
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/N_VEPWy3fdU" frameborder="0" allowfullscreen></iframe>
                 </div>
              </div>
            </div>
            <br>
            <div class="row text-center">
              <div class="col-md-2 bg-dark" style="height: 10px;">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
            </div>
            {% include 'steps.html' %}
            <br>
          </div>
        </div>
{% endblock %}    