{% extends "base.html" %}

{% block content %}
        <div class="album py-5 box">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="/static/disc.jpg" class="rounded mx-auto d-block" width=100% height=100% alt="альтернативный текст"></a>
              </div>
              <div class="col-md-6">
                <p>В этих городах:</p><br>
                <p>- Москве</p><br>
                <p>- Питере</p><br>
                <p>- Екатеринбурге</p><br>
                <br>
                <p>Проводим:</p><br>
                <p>- Спартакиады</p><br>
                <p>- Корпоративные праздники</p><br>
                <p>- Турниры</p>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
{% endblock %}    