{% extends "base.html" %}

{% block content %}
        <div class="album py-5 box">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="/static/mclassMSC.jpg" class="rounded mx-auto d-block" width=100% height=100% alt="альтернативный текст"></a>
              </div>
              <div class="col-md-6">
                <p1>Этапы про тура общие для всей страны</p1><br>
                <p1>- Сколково</p1><br>
                <p1>- Туутари</p1><br>
                <p1>- Уктус</p1>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <p3>Расписание турниров.<br>
                     Стоимость.<br>
                     Ссылки на контакты, магазин
                  </p3>
              </div>
              <div class="col-md-6">
                  <img src="/static/mclassSPB.jpg" class="rounded mx-auto d-block" width=100% height=100% alt="альтернативный текст"></a>
              </div>
            </div>
            <br>
            <div class="row text-center">
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2 bg-dark" style="height: 10px;">
              </div>
              <div class="col-md-2">
              </div>
            </div>
            {% include 'steps.html' %}
            <br>
          </div>
        </div>
{% endblock %} 