{% extends "base.html" %}

{% block content %}
        <div class="album py-5 box">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="/static/where.jpg" class="rounded mx-auto d-block" width=100% height=100% alt="альтернативный текст"></a>
              </div>
              <div class="col-md-6">
                <p>		Открытие диск-гольф парка в вашем городе предложит жителям новый 
                  вид активного группового досуга на открытом воздухе. Размещение 
                  диск-гольф корзин по проекту  в существующих благоустроенных парках, 
                  сможет так же привлечь к территории ранее не по-
                  сещавшие ее группы населения, увеличит заполняемость парка в часы
                  низкой нагрузки и направит людей в отдаленные уголки парка.<br>
                      Совместные занятия диск-гольфом обеспечат «игровой контакт» между
                  житеями города, не зависимо от их пола, возраста и социального статуса.<br>
                  </p>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6">
                <p>Создание диск-гольф парка, так же создаст возможность:<br>
                  - централизации всех популяризационных мероприятий<br>
                  - создания тренировочной базы для диск-гольф клуба города<br>
                  - появления уникального формата для привлечения населения города к
                  парковой территории, ее бережному использованию и проведению своего 
                  времени на свежем воздухе с равномерной нагрузкой и
                  в хорошем настроении!<br>
                  Вы можете:<br>
                - построить парк<br>
                - провести фестиваль или соревнования<br>
                - оказать поддержку в реализации новых проектов<br>
                <br>
                Диск-гольф не требует больших вложений, но дарит много впечатлений!</p>
              </div>
              <div class="col-md-6">
                  <img src="/static/mclass.jpg" class="rounded mx-auto d-block" width=100% height=100% alt="альтернативный текст"></a>
              </div>
            </div>
            <br>
            <div class="row">
              <h3 class="text-center text-dark">&nbsp;&nbsp;&nbsp;Вы можете связаться с нами:</h3>
              <div class="col-4">
                <form action="#" method="post">
                  <div class="form-group">

                  </div>
                  <div class="form-group">

                  </div>
                  <div class="form-group form-check">
                    
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock %}    